/.bundle
/.env*
/config/master.key
/db/*
/log/*
/public/assets
/storage/*
/tmp/*
/tmp/pids/*
/tmp/storage/*
!/.env*.erb
!/db/.keep
!/log/.keep
!/storage/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
!/tmp/storage/
!/tmp/storage/.keep
