- content_for(:title, @device.to_s)

= turbo_stream_from @device

.text-sm= t(".user")
.mb-5= link_to @device.user

.text-sm= t(".id")
.mb-5= @device.id

.text-sm= t(".created_at")
.mb-5= @device.created_at

.text-sm= t(".updated_at")
.mb-5= @device.updated_at

.text-sm=> t(".token")
.mb-5= @device.token

.text-sm=> t(".platform")
.mb-5= @device.platform

= link_to t(".edit"), [:edit, @device]
= button_to t(".delete"), @device, method: :delete, class: "a text-red-600"
