- content_for(:title, @user)

- if @user.admin?
  p.font-bold= t(".admin")

p.text-sm= link_to t(".email_addresses"), [@user, :email_addresses]

p= link_to t(".new_email_address"), new_email_address_path

= render @email_addresses

p.text-sm= link_to t(".passwords"), [@user, :passwords]

p= link_to t(".new_password"), new_password_path

= render @passwords

= link_to t(".edit"), [:edit, @user]

= button_to t(".destroy"), @user, method: :delete, class: "a text-red-600", data: { turbo_confirm: t(".confirm") }
