- content_for(:title, @schedule.to_s)

= turbo_stream_from @schedule

.text-sm= t(".user")
.mb-5= link_to @schedule.user

.text-sm= t(".program")
.mb-5= link_to @schedule.program

.text-sm= t(".id")
.mb-5= @schedule.id

.text-sm= t(".created_at")
.mb-5= @schedule.created_at

.text-sm= t(".updated_at")
.mb-5= @schedule.updated_at

.text-sm= t(".starts_at")
.mb-5= @schedule.starts_at

.text-sm= t(".interval")
.mb-5= @schedule.interval

.text-sm= t(".duration")
.mb-5= @schedule.duration

.text-sm= t(".next_at")
.mb-5= @schedule.next_at

= link_to t(".edit"), [:edit, @schedule]
= button_to t(".delete"), @schedule, method: :delete, class: "a text-red-600"

