- content_for(:title, @smtp_account.to_s)

- if admin?
  .text-sm= t(".belongs_to")
  .mb-5= link_to @smtp_account.user

.text-sm= t(".id")
.mb-5= @smtp_account.id

.text-sm= t(".primary")
.mb-5= @smtp_account.primary?

.text-sm= t(".verified")
.mb-5= @smtp_account.verified?

- if @smtp_account.display_name.present?
  .text-sm= t(".display_name")
  .mb-5= @smtp_account.display_name

.text-sm= t(".address")
.mb-5= @smtp_account.address

.text-sm= t(".port")
.mb-5= @smtp_account.port

.text-sm= t(".user_name")
.mb-5= @smtp_account.user_name

.text-sm= t(".password")
.mb-5
  ' ***

.text-sm= t(".authentication")
.mb-5= @smtp_account.authentication

.text-sm= t(".enable_starttls_auto")
.mb-5= @smtp_account.enable_starttls_auto

- if @smtp_account.not_verified?
  .p= button_to t(".verify"), [@smtp_account, :verification_code], class: "bg-black text-white rounded px-4 py-2 cursor-pointer"

= link_to t(".edit"), [:edit, @smtp_account]
= button_to t(".delete"), @smtp_account, method: :delete, class: "a text-red-600"
