- content_for(:title, @page)

= turbo_stream_from @page

= simple_format @page.body

= render partial: "pages/page", collection: @children

- if can?(:update, @page)
  = link_to t(".edit"), [:edit, @page]
  = button_to t(".destroy"), @page, method: :delete, class: "a text-red-600"
