- content_for(:title, @slack_account.to_s)

.text-sm= t(".user")
.mb-5= link_to @slack_account.user

.text-sm= t(".id")
.mb-5= @slack_account.id

.text-sm= t(".created_at")
.mb-5= @slack_account.created_at

.text-sm= t(".updated_at")
.mb-5= @slack_account.updated_at

.text-sm= t(".primary")
.mb-5= @slack_account.primary?

.text-sm= t(".verified")
.mb-5= @slack_account.verified?

.text-sm= t(".channels")
ul
  - @slack_account.channels.each do |channel|
    li= "##{channel["name"]}"

.p= link_to t(".edit"), [:edit, @slack_account]
.p= button_to t(".delete"), @slack_account, method: :delete, class: "a text-red-600"
