- content_for(:title, @password.to_s)

= turbo_stream_from @password

.text-sm= t(".user")
.mb-5= link_to @password.user

.text-sm= t(".id")
.mb-5= @password.id

.text-sm= t(".created_at")
.mb-5= @password.created_at

.text-sm= t(".updated_at")
.mb-5= @password.updated_at

.text-sm=> t(".password")
.mb-5
  ' ***

.text-sm=> t(".hint")
.mb-5= @password.hint

= link_to t(".edit"), [:edit, @password]
= button_to t(".delete"), @password, method: :delete, class: "a text-red-600"
