h3 what is code?

p code is a programming language made for the internet and available on mobile.

h3 why code?

p to have a safe language that can be executed without trusting the programmer.

h3 how to use code?

p you can either generate a program using a prompt or write the input of the program directly.

h3 how does code work?

p it's a tree-walking interpreter written in ruby.

h3 how much is code?

p you can create your programs for free but if you want me to create a program for you that will be $100 USD + $10 USD / month.

h3 who is code for?

p anyone and everyone.

h3 do you have some examples?

p= safe_join(["See ", link_to("pages", pages_path), "."])
