- content_for(:title, @datum.to_s)

.text-sm= t(".user")
.mb-5= link_to @datum.user

.text-sm= t(".id")
.mb-5= @datum.id

.text-sm= t(".created_at")
.mb-5= @datum.created_at

.text-sm= t(".updated_at")
.mb-5= @datum.updated_at

.text-sm=> t(".data")
pre.mt-0= JSON.pretty_generate(@datum.data)

= link_to t(".edit"), [:edit, @datum]
= button_to t(".delete"), @datum, method: :delete, class: "a text-red-600"

