- content_for(:title, @x_account.to_s)

.text-sm= t(".user")
.mb-5= @x_account.user

.text-sm= t(".id")
.mb-5= @x_account.id

.text-sm= t(".created_at")
.mb-5= @x_account.created_at

.text-sm= t(".updated_at")
.mb-5= @x_account.updated_at

.text-sm= t(".primary")
.mb-5= @x_account.primary?

.text-sm= t(".verified")
.mb-5= @x_account.verified?

.text-sm= t(".auth")
pre.mb-5= JSON.pretty_generate(@x_account.auth)

.p= button_to t(".refresh_auth"), [@x_account, :refresh_auth], class: "bg-black text-white rounded px-4 py-2 cursor-pointer"

.text-sm= t(".me")
pre.mb-5= JSON.pretty_generate(@x_account.me)

.p= button_to t(".refresh_me"), [@x_account, :refresh_me], class: "bg-black text-white rounded px-4 py-2 cursor-pointer"

.p= link_to t(".edit"), [:edit, @x_account]
.p= button_to t(".delete"), @x_account, method: :delete, class: "a text-red-600"
