@import url("tailwindcss/base");
@import url("tailwindcss/components");
@import url("tailwindcss/utilities");
@import url("intl-tel-input/build/css/intlTelInput");

* {
  overflow-wrap: break-word;
}

.p {
  @apply my-5;
}

.a {
  color: var(--tw-prose-links);
  font-weight: 500;
  text-decoration: underline;
}

.iti {
  @apply w-full;
}
