@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .p {
    @apply my-5;
  }

  .a {
    color: var(--tw-prose-links);
    font-weight: 500;
    text-decoration: underline;
  }
}
