@import url("tailwindcss/base");
@import url("tailwindcss/components");
@import url("tailwindcss/utilities");
@import url("intl-tel-input/build/css/intlTelInput");

* {
  @apply break-words;
}

pre {
  @apply whitespace-pre-wrap;
}

.p {
  @apply my-5;
}

.a {
  color: var(--tw-prose-links);
  @apply underline font-medium;
}

.a.text-red-600 {
  color: theme("colors.red.600");
}

.iti {
  @apply w-full;
}

.font-bold > a {
  font-weight: 700;
}
