- content_for(:title, @time_zone.to_s)

= turbo_stream_from @time_zone

.text-sm= t(".user")
.mb-5= link_to @time_zone.user

.text-sm= t(".id")
.mb-5= @time_zone.id

.text-sm= t(".created_at")
.mb-5= @time_zone.created_at

.text-sm= t(".updated_at")
.mb-5= @time_zone.updated_at

.text-sm=> t(".time_zone")
.mb-5= @time_zone.time_zone

.text-sm=> t(".verified")
.mb-5= @time_zone.verified

.text-sm=> t(".primary")
.mb-5= @time_zone.primary

= link_to t(".edit"), [:edit, @time_zone]
= button_to t(".delete"), @time_zone, method: :delete, class: "a text-red-600"
